<div class="footer" footer>
	<p>Copyright © 2015.langland.cc All rights reserved.    粤ICP备15023255号</p>
	<p>公司地址：广东广州市越秀区先烈中路80号汇华商贸大厦1408</p>
	<p>联系电话：020-29887417</p>
	<div class="load-ico-main">
		<p>正在加载更多</p>
		<div class="load-ico">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="pagination">
		<p>
			<i class="iconfont">&#xe611;</i>
			<span class="pag-cen">
				<span>-</span>
				<span>1</span>
				<span>-</span>
			</span>
			<i class="iconfont">&#xe610;</i>
		</p>
	</div>
</div>